.t{
    width: 50px;
    height: 25px;
    border-radius: 20px;
    border: 1pz solid #999;
    background-color: white;
    position: relative;
    
    right: 10px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left{
  
  width: 300px;
  height: 25px;
  position: relative;
  top: 10px;
  justify-content: space-between;

  display: flex;
  align-items: center;
  
}
.left h{ 
    font-size: 10px;
}

.t-icon{
    width: 15px;
    height: 15px;
}

.t-button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #999;
    position: absolute;
    cursor: pointer;
}
.container{
    margin-left: 0px;
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 999;
    width: 100%;
    text-align: left;
     
    font-Size: 18px;
    
}
.list{
    display: flex;
    
    text-decoration-color: none;
    
}

.listItem{
    display: inline;
     margin: 30px;
    justify-content: space-evenly;
    font-size: 14px;
    color: lightgray;
    cursor: pointer;
   
}
a{
    color: white;
    text-decoration: none;
}
.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
  
}
@media screen and (max-width: 480px) {
  .container {
    padding: 10px;
    width: 100%;
  }

  

}
/* 
responsive
----------
*/

@media only screen and (max-width: 767px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1);
  }

  .mobileVisible {
    display: block;
  }
  
  .mobileHidden {
    display: none;
  }
}

  .nav {
    height: 50;
    background: #096dd9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
  }
  .button {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16;
  }

  /* trial */
  .app__navbar-links{
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: left;

    list-style: none;
}
.app__navbar-links li{
    margin: 0 1rem;
    cursor: pointer;
}
.app__navbar-links li:hover{
   color: var(--color-grey)
}
.app__navbar-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.app__navbar-login a {
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.5s ease;
} 
.app__navbar-login a:hover{
   border-bottom: 1px solid var(--color-golden);
} 
.app__navbar-login div {
    width: 1px;
    height: 30px;
    background: var(--color-grey);
}
.app__navbar-smallscreen{
   display: none; 
   margin-top: 10px;
   margin-right: 10px;
   cursor: pointer;
} 
.app__navbar-smallscreen_overlay {
    position:absolute;
    top: 20px;
    right: 0px;
    
    width: 50%;
    height: 48vh;
    background: black;
    transition: 0.5s ease;

    flex-direction: column;
    z-index: 5;
} 
.app__navbar-smallscreen_overlay .overlay__close{
    font-size: 27px;
    color: goldenrod;
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;
}
 
.app__navbar-smallscreen_links{
    list-style: none;
    margin-top: 50px;
}
.app__navbar-smallscreen_links li{
    margin: 2rem;
    cursor: pointer;
    color: goldenrod;
    font-size: 1rem;
    text-align: left;
    font-family: var(--font-base);
}
.app__navbar-smallscreen_links li:hover{
    color: var(--color-white);
}
@media screen and (max-width: 2000px){
    .app__navbar-logo img {
        width: 210px;
    }
}
@media screen and (max-width: 1150px){
    .app__navbar-links {
        display: none;
    }
    .app__navbar-smallscreen {
        display: flex;
    }
}
@media screen and (max-width: 650px){
    .app__navbar{
        padding: 1rem;
    }
    .app__navbar-login{
        display: none;
    }
    .app__navbar-logo img {
        width: 110px;
    }
}
  